name: Audit

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: |
          python -m venv env
          # Upgrade wheel & setuptools first
          env/bin/python -m pip install --upgrade wheel setuptools
          # Install patched pip from GitHub commit to fix tarfile vulnerability
          env/bin/python -m pip install "git+https://github.com/pypa/pip@f2b9231"
          # Install project dependencies
          env/bin/python -m pip install -r requirements.txt
      - uses: pypa/gh-action-pip-audit@v1.0.7
        with:
          virtual-environment: env/
          local: true
          # These are issues with the audit checker itself!
          ignore-vulns: PYSEC-2023-74 PYSEC-2022-43012 PYSEC-2023-228 PYSEC-2023-221 GHSA-9wx4-h78v-vm56 GHSA-9hjg-9r4m-mvj7 GHSA-pq67-6m6q-mj2v
